h1 Avaliação Desempenho

h3 Concentro
span  olá 
span  = current_user.first_name
br
span logado como 
span = current_user.profile.name
br
- if user_signed_in?
	= link_to "Sign out", destroy_user_session_path, :method => :delete