 // flatuicolors.com

$white-blue : #3498db;
$dark-blue  : #2980b9;
$white-gray : #ecf0f1;
$dark-gray  : #34495e;

$peter-river : $white-blue;
$belize-hole : $dark-blue;
$clouds      : $white-gray;
$wet-asphalt : $dark-gray;

.has-info {
  &:focus {
    border-color: $peter-river !important;
  }
}
