.deviseNew {
  width: 20%;
  margin: 0 auto;
  h1 {
    margin-bottom: 30px;
  }
}

.deviseSignUp {
  width: 40%;
  margin: 0 auto;
  .btn-info {
    display: block;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 30px;
  }
}

.devisePasswordNew {
  display: block;
  width: 30%;
  margin: 0 auto;
  h2 {
    margin-bottom: 30px;
  }
}

.navbar-info {
  background-color: #3498db;
}
