h2 gráficos

btn.btn-primary id="Pessoas_EJ" Quantidade de pessoas por EJ.

div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"

script src="https://code.highcharts.com/highcharts.js"
script src="https://code.highcharts.com/modules/exporting.js"
script src="app/assets/javascripts/infos.js"